.select
{
    width: 1400px;
}
h1
{

    font-size: 45px;
}
.button
{
    margin-top: 150px;
    border: 2px solid rgb(245, 9, 9);
    width: 600px;
    height: 600px;
    border-radius: 15px;
}
body{
    background-color: rgb(215, 244, 244);
}